<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9287e8f-18df-49fb-b19e-5083ef2d1094" Alias="cat 1" Level="3">
  <Info>
    <Parent Key="ff097d8a-4571-4b2d-9aca-39da5a47e1fd">Categories</Parent>
    <Path>/HomePage/Categories/cat1</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2025-04-12T14:11:43</CreateDate>
    <NodeName Default="cat 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>