<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff097d8a-4571-4b2d-9aca-39da5a47e1fd" Alias="Categories" Level="2">
  <Info>
    <Parent Key="ca58895e-d30e-43e4-ae34-0d5875ac5caa">Home page</Parent>
    <Path>/HomePage/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categoriesFolder</ContentType>
    <CreateDate>2025-03-09T13:55:38</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>