<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca58895e-d30e-43e4-ae34-0d5875ac5caa" Alias="Home page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-01T14:31:12</CreateDate>
    <NodeName Default="Home page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <testCropper>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5208189071068873,
    "top": 0.43772892375568767
  },
  "crops": [],
  "src": ""
}]]></Value>
    </testCropper>
    <testImages>
      <Value><![CDATA[[
  {
    "key": "6aa7b55d-427b-49ef-b8e1-bf805e159b5e",
    "mediaKey": "c24149fa-a97b-498e-b2e7-01225b0bbdbb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </testImages>
    <title>
      <Value><![CDATA[Seo Title]]></Value>
    </title>
  </Properties>
</Content>