<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e234e9-8281-4331-a354-d7b444ffa29d" Alias="Products folder" Level="2">
  <Info>
    <Parent Key="ca58895e-d30e-43e4-ae34-0d5875ac5caa">Home page</Parent>
    <Path>/HomePage/ProductsFolder</Path>
    <Trashed>false</Trashed>
    <ContentType>productsFolder</ContentType>
    <CreateDate>2025-03-15T14:50:23</CreateDate>
    <NodeName Default="Products folder" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>