<?xml version="1.0" encoding="utf-8"?>
<Content Key="94dbd23f-c054-45a1-affc-7edabe3cd1ab" Alias="Test 2 " Level="3">
  <Info>
    <Parent Key="c1e234e9-8281-4331-a354-d7b444ffa29d">Products folder</Parent>
    <Path>/HomePage/ProductsFolder/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2025-03-15T14:50:58</CreateDate>
    <NodeName Default="Test 2 " />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/55e465e0ebfb42e9b74b70ff10310cfc]]></Value>
    </category>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Eqwe\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <preveiwImage>
      <Value><![CDATA[[
  {
    "key": "03888c94-bb72-4b71-a3a8-60eb617fbb55",
    "mediaKey": "c24149fa-a97b-498e-b2e7-01225b0bbdbb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </preveiwImage>
    <price>
      <Value><![CDATA[{
  "acde6305-97c4-473b-b4ad-019650045699": 2
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[qwe]]></Value>
    </sku>
  </Properties>
</Content>