<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="566094a6-7df7-4562-b554-3e03e9556584" Alias="productsFolder" Level="3">
  <Info>
    <Name>Products folder</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Products</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b2f9be4e-9923-4589-ad38-a754ed57ee88" SortOrder="0">productPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>