<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d7da3f0-5e15-4c01-bd9d-0dc55b643b75" Alias="Home Page - Store  - Store Picker Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Store  - Store Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.Commerce.StorePicker</EditorAlias>
    <EditorUIAlias>Uc.PropertyEditorUi.StorePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>