<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6a3e629-4b57-4011-afbf-e9493901ca5b" Alias="Product Page - Price - Price Property Editor UI" Level="1">
  <Info>
    <Name>Product Page - Price - Price Property Editor UI</Name>
    <EditorAlias>Umbraco.Commerce.Price</EditorAlias>
    <EditorUIAlias>Uc.PropertyEditorUi.Price</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "storeId": "e933c804-6117-461b-93ec-01965004562d"
}]]></Config>
</DataType>