<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2332f1e4-c5f8-4ec5-8fcf-1666f01b50c1" Alias="Product Page - Amout - Stock Property Editor UI" Level="1">
  <Info>
    <Name>Product Page - Amout - Stock Property Editor UI</Name>
    <EditorAlias>Umbraco.Commerce.Stock</EditorAlias>
    <EditorUIAlias>Uc.PropertyEditorUi.Stock</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "decimalPlaces": 0,
  "storeId": "e933c804-6117-461b-93ec-01965004562d"
}]]></Config>
</DataType>