<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14e60a10-4851-41ff-9a22-34ad474968f9" Alias="Product Page - Description  - Numeric Property Editor UI" Level="1">
  <Info>
    <Name>Product Page - Description  - Numeric Property Editor UI</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": 0
}]]></Config>
</DataType>