<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1abc155-1754-41de-a847-bc181148ee56" Alias="Product Page - Category - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Product Page - Category - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "3b595319-fd71-42a5-83b2-7c79a6432204",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Site",
      "querySteps": [
        {
          "unique": "fadf8215-9d03-4d92-bac6-dae6bde31e19",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "2d79c31d-1577-4811-a804-2c8171367dc8"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>